@font-face {
  font-family: 'PS2';
  src: url('./fonts/ps2-webfont.eot') format('embedded-opentype'),
    url('./fonts/ps2-webfont.woff2') format('woff2'),
    url('./fonts/ps2-webfont.woff') format('woff'),
    url('./fonts/ps2-webfont.ttf') format('truetype'),
    url('./fonts/ps2-webfont.svg') format('svg');
}

* {
  box-sizing: border-box;
  image-rendering: pixelated;
  user-select: none;
}

body {
  background-color: #000022;
  font-size: 1.4rem;
  color: white;
  font-family: 'PS2', sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

main {
  flex: 1 0 auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 auto;
}

a {
  color: #e5e4e2;
  text-decoration: none;
}

a.visited {
  color: #e5e4e2;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
