* {
  box-sizing: border-box;
}

a:hover {
  color: red;
}

.App {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

.battle-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  align-items: stretch;
}

body {
  padding: 1rem;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7ab49f+0,628dab+50,313353+100 */
  background: #7ab49f; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #7ab49f 0%,
    #628dab 50%,
    #313353 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #7ab49f 0%,
    #628dab 50%,
    #313353 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #7ab49f 0%,
    #628dab 50%,
    #313353 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ab49f', endColorstr='#313353',GradientType=1 ); /* IE6-9 */
}

.l-monster-content {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  width: 100px;
}

.l-monster-dmg {
  display: flex;
  color: blue;
}

.l-monster-name {
  display: inline-block;
  color: blue;
}

.monster-info-section {
  flex: 0 1 200px;
  background-color: red;
}

.main-battle-section {
  flex: 0 1 100%;
  background-color: dodgerblue;
}
.main-party-menu {
  display: flex;
  justify-content: center;
}

.player-info-section {
  background-color: lime;
  flex: 0 1 200px;
}

.player-info-section .main-party-menu p {
  display: inline-block;
}

.r-monster-content {
  display: flex;
  justify-content: flex-end;
  color: green;
}

.r-monster-dmg {
  color: green;
}

.r-monster-name {
  display: flex;
  align-items: flex-end;
}
